* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3F3F3;
}
.main{
    width: 100%;
    height: 477px;
    border: 10px;
}
@font-face {
    font-family: 'latofont';
    src: url(fonts/Lato-Bold.ttf);
}
@font-face {
    font-family:'para';
    src: url(fonts/CormorantGaramond-VariableFont_wght.ttf);
}
.cards img{
    width: 70px;
    height: 70px;
    padding: 20px 0 0 20px;
}
@font-face {
    font-family: 'poppins';
    src: url(fonts/Poppins-Regular.ttf);
}